<div class="login-wrapper">
  <div class="login-card">
    <h2 class="login-title">Login</h2>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

      <!-- Email -->
      <div class="form-group">
        <label>Email</label>
        <input
          type="email"
          formControlName="email"
          placeholder="Enter your email"
        />
        <div class="error" *ngIf="email?.touched && email?.errors">
          <span *ngIf="email?.errors?.['required']">Email is required</span>
          <span *ngIf="email?.errors?.['pattern']">Enter valid email</span>
        </div>
      </div>

      <!-- Password -->
      <div class="form-group password-group">
        <label>Password</label>

        <div class="password-wrapper">
            <input
            [type]="showPassword ? 'text' : 'password'"
            formControlName="password"
            placeholder="Enter your password"
            />

            <button
            type="button"
            class="eye-btn"
            (click)="togglePassword()"
            >
            <span *ngIf="!showPassword">👁</span>
            <span *ngIf="showPassword">🙈</span>
            </button>
        </div>

        <div class="error" *ngIf="password?.touched && password?.errors">
            <span *ngIf="password?.errors?.['required']">Password is required</span>
            <span *ngIf="password?.errors?.['minlength']">
            Minimum 8 characters required
            </span>
        </div>
        </div>

      <!-- Submit -->
      <button
        type="submit"
        class="login-btn"
        [disabled]="isLoading"
      >
        {{ isLoading ? 'Signing in...' : 'Login' }}
      </button>

    </form>
  </div>
</div>